.user {
    flex: 4;
    padding: 20px;
    background-image: url('../../images/background.jpg');
    background-size:100%;
    background-position: 0%;
  }
  
  .userTitleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    padding-left: 30px;
    font-weight: 600;
    /* background-color: aqua; */
  }
  
  .userContainer {
    display: flex;
    /* margin-top: 10px; */
}

.userShow {
      background-color: #e6f1fdf7;
    flex: 2;
    padding: 30px 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
    margin:10px 130px;
  }
  
  .userShowTop {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin: 30px 80px;
  }
  
  .userShowImg {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .userShowTopTitle {
    display: flex;
    /* flex-direction: column; */
    margin-left: 20px;
    justify-content: space-around;
    
  }
  
  .userShowUsername {
    font-weight: 700;
    color: black;
    font-size: 45px;
  }
  
  .userShowUserTitle {
    font-weight: 300;
  }
  
  .userShowBottom{
      margin-top: 20px;
      display: flex;
  }
  .userShowTitles{
    font-size: 47px;
    font-weight: 700;
    color: rgb(85, 84, 84);
    padding-right: 10px;
  }
  
  .userShowTitle {
    font-size: 22px;
    font-weight: 600;
    margin: 20px;
    color: rgb(68, 65, 65);
    /* padding-right: 10px; */
    /* width: 100%; */
}
.first{
    display: flex;
    flex-direction: row;
    flex: 1;
    /* justify-content: center; */
}
.second{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.userShowInfo1{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    justify-content: space-around;
    margin: 20px 0px;
    color: #444;
}
.userShowInfo2{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    justify-content: space-around;
    margin: 20px 0px;
    color: #444;
}

.userShowIcon{
    font-size: 16px !important;
}

.userShowInfoTitle{
      margin: 20px;
      margin-left: 10px;
      box-shadow: 10px 8px 10px -12px #888888;
padding-bottom: 10px;
padding-right: 10px;
  }
  
  .userUpdateTitle{
      font-size: 24px;
      font-weight: 600;
  }
  
  .userUpdateForm{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  }
  
  .userUpdateItem{
      display: flex;
      flex-direction: column;
      margin-top: 10px;
  }
  
  .userUpdateItem>label{
      margin-bottom: 5px;
      font-size: 14px;
  }
  
  .userUpdateInput{
      border: none;
      width: 250px;
      height: 30px;
      border-bottom: 1px solid gray;
  }
  
  .userUpdateRight{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .userUpdateUpload{
      display: flex;
      align-items: center;
  }
  
  .userUpdateImg{
      width: 100px;
      height: 100px;
      border-radius: 10px;
      object-fit: cover;
      margin-right: 20px;
  }
  
  .userUpdateIcon{
      cursor: pointer;
  }
  
  .userUpdateButton{
      border-radius: 5px;
      border: none;
      padding: 5px;
      cursor: pointer;
      background-color: darkblue;
      color: white;
      font-weight: 600;
  }