.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .popup-inner {
    background-color: #bad0dc;;
    padding: 0 20px 20px 20px;
    width: 40vw;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .close-btn {
    position:relative;
    top: 0;
    right: -220px;
    font-size: 24px;
    font-weight: bold;
    background-color: #bad0dc;
    border: none;
    cursor: pointer;
  }

  .card_button{
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    background-color: #bad0dc;
}

