.main{
  border: 1px solid black;
  width: 40vw;
  height:65vh;
}
.card_logo{
    background-size: cover;
    width: 100%;
}
.card_content{
    margin-bottom: 1rem;
    text-align: center;
}
.card_button{
    margin-top: 1rem;
}