.main{
  border: 1px solid black;
  width: 40vw;
  height:65vh;
}
.card_logo{
    background-size: cover;
    width: 100%;
}
.card_content{
    margin-bottom: 1rem;
    margin-left: 3.5rem;
    text-align: start;
}
.card_button{
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    background-color: rgb(140, 171, 220);
}