.contact__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 6rem;
    padding-bottom: 3rem;
}

.contact__form {
    width: 360px;
}

.contact__form-div {
    position: relative;
    margin-bottom: var(--mb-2);
    height: 4rem;
}
.contact__content{
    width: 60%;
    flex: 1;
}
.contact__form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0,0,0,0.3);
    background: none;
    outline: none;
    border-radius: 0.75rem;
    padding: 1.5rem;
    z-index: 1;
}

.contact__form-tag {
    color: #3c7ea1;
    position: absolute;
    top: -0.75rem;
    left: 1.25rem;
    font-size: var(--small-font-size);
    padding: 0.25rem;
    background-color: #eef3f8;
    z-index: 10;
}

.contact__form-area {
    height: 8rem;
}

.gmap_canvas {
    text-align: center;
    overflow: hidden;
    background: none !important;
}

.gmap_canvas>iframe {
    width: 100vw;
    height: 60vh;
    overflow: hidden;
    margin: 0;
    border-radius: 10px;
    border: 0;
}

.contact__form-area textarea {
    resize: none;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;500;600&display=swap');

:root {
  --header-height: 3rem;
  --hue: 0;
  --sat: 20%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --body-color: hsl(var(--hue), var(--sat), 94%);
  --container-color: #fff;
  --body-font: 'Poppins', sans-serif;


  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;


  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;


  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;


  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

  * {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }

body {
  background-color: #eef3f8;
}


button {
  cursor: pointer;
  border: none;
  outline: none;
}


.sections {
  padding: 5rem 0 2rem;
}

.section__ttitle {
  font-size: var(--h1-font-size);
  color: #36648a;
  margin-top: 20px;
  text-align: center;
}

.containers {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: flex;
  margin-top: 3.5rem;
  gap: 8.5rem;
}


.buttonn {
  display: inline-block;
  background-color: #6f9cb5;
  color: var(--container-color);
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.8rem;
  margin-top: 10px;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color:#5c8398 ;
}

@media screen and (max-width:500px){
  .containers{
    flex-direction: column;
  }
  .sections{
    margin-left: 100px;
    width: 110%;
  }
  .section__ttitle{
    text-align: start;
  }
  .contact__content{
    width: 100%;
  }
}
