@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;500;600&display=swap');

.ride__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 6rem;
    top: 0%;
    padding-bottom: 3rem;
}
.top{
    height: 10px;
}

.ride__form {
    width: 360px;
}

.ride__form-div {
    position: relative;
    margin-bottom: var(--mb-2);
    height: 4rem;
}
.ride__content{
    width: 60%;
    flex: 1;
    /* z-index: -1; */
}
.ride__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(0,0,0,0.3);
  background: none;
  outline: none;
  border-radius: 0.75rem;
  padding: 1.5rem;
  z-index: 1;
}

.ride__form-tag {
    color: #3c7ea1;
    position: absolute;
    top: -0.75rem;
    left: 1.25rem;
    font-size: var(--small-font-size);
    padding: 0.25rem;
    background-color: #eef3f8;
    z-index: 10;
}

.ride__form-area {
    height: 8rem;
}

.ride__form-area textarea {
    resize: none;
}


  * {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: #eef3f8;
}


button {
  cursor: pointer;
  border: none;
  outline: none;
}


.section {
  padding: 5rem 0 2rem;
}


.section__title {
  font-size: var(--h1-font-size);
  color: #36648a;
  text-align: center;
}

.containeer {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: flex;
  margin-top: 2rem;
  gap: 8.5rem;
}


.ride__button {
  display: inline-block;
  background-color: #6f9cb5;
  color: var(--container-color);
  width: 15rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  font-weight: var(--font-medium);
}
.svg{
    height: 50vh;
    width: 50vw;
    margin-top: -3rem;
}
.img23{
    height: 90vh;
    width: 50vw;
}

.ride__button:hover {
  background-color:#5c8398 ;
}

@media screen and (max-width:500px) {
  .grid{
    flex-direction: column;
  }
  .svg{
    display: none;
  }
  .section{
    width: 120%;
    margin-left: 85px;
  }
  .ride__form{
    width: 430px;
  }
  .grid{
    gap: 2rem;
  }
  .section__title{
    text-align: start;
    margin-left: 60px;
  }
}

/* @media screen and (max-width:500px) and (max-height:800px){
  .section{
    width: 120%;
    margin-left: 70px;
  }
  .ride__form{
    width: 410px;
  }
} */