.testimonial {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mobile{
    justify-content: space-around;
  }
}
.testimonial h1 {
  font-size: 50px;
  @include mobile {
    font-size: 20px;
  }
}
.container3 {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container3 .card {
  width: 250px;
  height: 70%;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 0px 15px -8px black;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  transition: all 1s ease;

  &.featured {
    width: 300px;
    height: 75%;
    margin: 0 30px;
    @include mobile {
      width: 250px;
      height: 180px;
      margin: 0px;
    }
  }
}
.card:hover {
  transform: scale(1.1);
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top > img .rg,
.lf {
  height: 25px;
}
#user {
  height: 100px;
  width: 600px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 30px;
  @include mobile {
    width: 150px;
    height: 50px;

  }
}
.container3 .center {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(214, 207, 208);
}
.container3 .bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.bottom h2 {
  margin-bottom: 5px;
}
.bottom h4 {
  color: grey;
}
