.main-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.left-container{
    flex: 1;
}
.right-container{
    flex: 1;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
}
.avatar>img{
    width:5rem;
    height:5rem;
}
.main-container-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50%;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 5rem;
}
